@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
  color: rgb(75, 75, 75);
}

body {
  background-color: rgb(230, 230, 230);
}

header {
  background-color: rgb(0, 100, 230);
}

.header-logo {
  margin: 0 32px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-weight: lighter;
}

.header-logo > a,
.header-logo > p {
  color: #fff;
}

.header-right {
  float: right;
}

.container {
  margin: 16px;
  padding: 32px;
  background-color: #fff;
  display: block;
}

.form-title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 16px;
}

.form-parts {
  padding: 8px 0;
}

.form-parts > label,
.form-parts > input {
  font-size: 18px;
  margin-top: 10px;
  display: block;
  width: 400px;
}

.form-btn {
  width: 100px;
  height: 36px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(0, 100, 230);
  border: 2px solid rgb(0, 100, 230);
  margin-top: 16px;
  background-color: #fff;
}
