<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="バンドメンバー募集,バンド関西,滋賀バンド,大阪バンド,社会人バンドライブ,コピーバンド,初心者バンド,ボーカル,Gt,京都バンド,兵庫バンド" />
<title>メンバー募集サービス</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="メンバー募集/制作/運営 しんぬこが管理する、関西でバンド活動するなら。社会人バンド、コピーバンド、プロ志向、アマ問いません。" />


<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126289985-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126289985-2');
</script>
<script>
$(function(){
	$("#menubtn").click(function(){
		$("#menu").slideToggle();
	});

});
</script>
</head>
<body>
  <!--
  <header class="discription-header">
    <p>関西限定バンドメンバー募集掲示板「しんぬこ掲示板」</p>
  </header>
  -->
  <header class="header">
    <div class="header-inner">
      <div class="header-site">
        <div class="site">
  	  <h1>
	    <a href="http://localhost:8080/"><img src="img/logo-header.jpg" alt="ライブ出演検索サービスのロゴ" width="250" height="33"></a>
          </h1>
        </div>
      </div>

      <div class="header-nav">
        <button type="button" id="menubtn">
	  <i class="fa fa-bars"></i><span>MENU</span>
        </button>
        <nav class="menu" id="menu">
	  <ul>
	    <li><a href="http://localhost:8080/register/" target="blank">登録はこちら</a></li>
	    <li><a href="http://localhost:8080/login/">ログイン</a></li>
	    <li><a href="http://localhost:8080/">新着情報更新</a></li>
	    <li><a href="http://localhost:8080/thread/" >スレッド一覧はこちら</a></li>  
	  </ul>
        </nav>
      </div>
    </div>
  </header>

 <div class="photo">
    <div class="top">
      <img src="img/top.jpg" alt="ライブ出演検索サービスのロゴ" class="topimg">
    </div>
  </div>

<div class="info">
  <div class="info-main">
    <!-- 滋賀北部情報 -->
    <div class="news">
      <h1>滋賀南部新着情報</h1>
       <ul th:each="shigasouthContent:${shigasouthcontentList}">
        <li>
          <a th:href="${shigasouthContent.ContentUrl}">
            <time th:text="${shigasouthContent.ContentDate}"></time>
            <div class="text title_name"><span th:text="${shigasouthContent.contentName}"></span></div>
            <div class="text write_info"><span th:text="${shigasouthContent.info}"></span></div>
         </a>
       </il>
      </ul>
    </div>
    <!-- 京都北部情報 -->
    <div class="news">
      <h1>京都南部新着情報</h1>
      <ul th:each="kyotosouthContent:${kyotosouthcontentList}">
        <li>
          <a th:href="${kyotosouthContent.ContentUrl}">
            <time th:text="${kyotosouthContent.ContentDate}"></time>
            <div class="text title_name"><span th:text="${kyotosouthContent.contentName}"></span></div>
            <div class="text write_info"><span th:text="${kyotosouthContent.info}"></span></div>
         </a>
       </il>
      </ul>
    </div>
    <!-- 大阪北部情報 -->
    <div class="news">
      <h1>大阪南部新着情報</h1>
      <ul th:each="osakasouthContent:${osakasouthcontentList}">
        <li>
          <a th:href="${osakasouthContent.ContentUrl}">
            <time th:text="${osakasouthContent.ContentDate}"></time>
            <div class="text title_name"><span th:text="${osakasouthContent.contentName}"></span></div>
            <div class="text write_info"><span th:text="${osakasouthContent.info}"></span></div>
         </a>
       </il>
      </ul>
    </div>
  </div>
  <!-- サイドメニュー -->
  <div class="info-sub">
    <div class="follow">
      <ul>
	<!--
	<li>
          <div class="gaiyou">
            <a href="http://35.213.2.106/search.php">
              <i class="fa fa-music side-music"></i>
              <h1>メンバー募集検索はこちら</h1>
              <p>様々な条件から検索が可能です。</p>
            </a>
          </div>
	</li>
	-->

	<li>
          <div class="gaiyou">
            <a href="http://localhost:8080/search">
              <img class="search_img" alt="ライブ出演検索導線" src="img/search.jpg" />
              <p>様々な条件から検索が可能です。</p>
            </a>
          </div>
	</li>

	<p class="follow-info">管理人へのお問い合わせはこちら</p>
        <li>
          <a href="https://twitter.com/home" class="follow-tw">
	    <i class="fa fa-fw fa-twitter"></i>
	    しんぬこのTwitter
	  </a>
        </li>
	<li>
          <a href="https://www.facebook.com/" class="follow-fb">
	    <i class="fa fa-fw fa-facebook"></i>
	    しんぬこのFacebook
	  </a>
        </li>
	<li>
	  <a href="http://shinnuko.xsrv.jp/" class="follow-mohanak">
	    <i><img class="side-img" alt="M運営会社ロゴ" src="img/mohanak.jpg" /></i>
	    しんぬこブログ
	  </a>
	</li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
<div class="footer-inner">
	<div class="copyright">
	<p>Copyright &copy; MOHANAK</p>
	</div>
</div>
</footer>


</body>
</html>