<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" th:href="@{/css/register.css}">
<title>ログイン</title>
</head>
<body>
  <header>
    <div class="header-logo">
      <a href="/">フォーム画面へ</a>
      <a class="header-right" href="/register/">新規登録へ</a>
    </div>
   </header>
<form role="form" id="logout" th:action="@{/logout}" method="post">
    <button type="submit">ログアウト</button>
</form>
<form th:action="@{/login_process}" method="POST">

    <table align="center">
        <tr>
            <td>
                ユーザ名：
            </td>
            <td>
                <input type="text" id="name" name="name"/>
            </td>
        </tr>
        <tr>
            <td>
                パスワード：
            </td>
            <td>
                <input type="password" id="password" name="password"/>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td align="right">
                <button type="submit">ログイン</button>
            </td>
        </tr>
        <tr>
            <td>
            </td>
           
        </tr>
    </table>
</form>
</body>
</html>