<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.css">
  <title>ユーザー登録画面はこちら</title>
</head>
<body>
  <header>
   　<div class="header-logo">
    <!-- ① -->
    　<a href="/">フォーム画面へ</a>
      <a class="header-right" href="/login/">ログイン</a>
    </div>
      
      
    
  </header>
  <div class="container">
    <p class="form-title">しんぬこの掲示板にようこそ！利用規約を確認し、同意して頂いた上でのご利用をお願いします。</p>
  <!-- ② ③ -->
    <form method="post">
      <div class="form-parts">
        <label>ユーザID</label>
        <input type="text" name="user_id">
      </div>
      <div class="form-parts">
        <label>パスワード</label>
        <input type="password" name="password">
      </div>
      <div class="form-parts">
        <label>表示名</label>
        <input type="text" name="display_name">
      </div>
      <input class="form-btn" type="submit" value="登録">
    </form> 
  </div>
</body>
</html>