<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/register.css}">
  <title>各地域スレッドはこちら</title>
</head>
<body>
  <header>
    <div class="header-logo">
    <!-- ① -->
      <a href="http://localhost:8080/shigasouth">滋賀南部募集スレ</a>
      <a href="http://localhost:8080/kyotosouth">京都南部募集スレ</a>
      <a href="http://localhost:8080/osakasouth">大阪南部募集スレ</a>
    </div>
  </header>
</body>
<form role="form" id="logout" th:action="@{/logout}" method="post">
    <button type="submit">ログアウト</button>
</form>
</html>